* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --orange: #9c1710;
    --blue: #5454d4;
    --background: #F9F8FE;
    --isColor: var(--blue);
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logoHome {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container {
    width: 90%;
    max-width: 1200px;
    /* overflow: hidden; */
    margin: 0 auto;
    padding: 80px 0;
}

.container--hero {
    padding: 0;
}

.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav_menu {
    background-color: var(--orange);
    width: 35px;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
}

.nav_list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--blue);
    padding: 80px 0;

    display: grid;
    place-content: center;
    list-style: none;
    text-align: center;
    gap: 2.5rem;

    transform: translate(-100%);
    transition: transform .3s;
}

.nav_list--show {
    z-index: 9;
    transform: translate(0);
}

.nav_link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;

}


/* hero-main */


.hero {
    margin-bottom: 10px;
}

.content-social {
    z-index: 1;
    display: flex;
    gap: 10px;
    justify-content: start;
    flex-wrap: wrap;
}

.content-post-social {
    z-index: -1;
    display: flex;
    align-items: center;
    place-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero_figure {
    order: -1;
    padding: 20px 0;
}

.hero_img {
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.hero_texts {
    display: grid;
    gap: 1.5rem;
    text-align: center;
    padding-bottom: 70px;
}

.hero_title {
    font-size: 3rem;
}

.hero_paragraph {
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: .5rem;
}


.hero_cta {
    background-color: var(--blue);
    color: #fff;
    text-decoration: none;
    padding: 1em 3em;

    justify-self: center;

    border-radius: 6px;
}

.hero_social {
    background-color: var(--isColor, --blue);
    color: #fff;
    text-decoration: none;
    justify-self: center;
    gap: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.btnIndicator {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;

    animation: enhance-button linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    z-index: 1;
}

.buttonTransparent {
    padding: 8px;
    margin: 8px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    transition: all .95s ease-in-out;
    -webkit-transition: all .95s ease-in-out;
    -moz-transition: all .95s ease-in-out;
    -ms-transition: all .95s ease-in-out;
    -o-transition: all .95s ease-in-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}




/* about */
.about {
    background-color: var(--background);
}

.about_container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.about_img {
    display: block;
    margin: 0 auto;
    width: 90%;
    aspect-ratio: 1/1;
    max-width: 280px;
    object-fit: cover;
    object-position: top;

    border-radius: 50%;
}

.about_texts {
    text-align: center;
    display: grid;
    gap: 1.5rem;
}

.subtitle {
    text-align: center;
    font-size: 2.1rem;
}

.paragraph {
    line-height: 1.5;
    font-weight: 300;
}


/* learn */
.learn_articles {
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
}

.learn_article {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

    display: grid;
    gap: 1rem;

}


.learn_img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    width: 60%;
}

.learn_article .hero_cta {
    margin: 0px auto;
}

/* sponsor */
.sponsor {
    background-color: var(--background);
    text-align: center;
}

.sponsor_img {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: block;
}

.sponsor_text {
    display: grid;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.sponsor_cta {
    background-color: var(--blue);
    color: #fff;
    padding: 1em 3em;
    text-decoration: none;

    justify-self: center;
    text-align: center;

    border-radius: 6px;
    font-weight: 700;
}

/* statics */

.statics {
    background-image: linear-gradient(#19181bc0, #171719e3),
        url(../assets/img/fondo.webp);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

.statics_container {
    display: grid;
    gap: 2.5rem;
}

.statics_item {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
}

.statics_title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.statics_cta {
    background-color: var(--orange);
    text-decoration: none;
    color: #fff;
    padding: 1rem 3rem;

    justify-self: center;
    border-radius: 6px;
    font-weight: 700;
}

.footer {
    background-color: var(--background);

}

.footer_contact {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 3rem;
}

.footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--isColor, --blue);

}


.footer_img {
    width: 28px;
}






/* medias querys */

@media (min-width:768px) {

    .nav_menu {
        display: none;
    }

    .nav_list {
        position: static;
        background-color: transparent;
        padding: 0;

        display: flex;
        gap: 2rem;
        list-style: none;
        text-align: center;

        transform: unset;
        transition: none;
    }

    .nav_list--show {
        transform: unset;
    }

    .nav_link {
        color: var(--orange);
        font-weight: 500;

    }

    /* hero-main */

    .hero-main {
        flex-direction: row;
        gap: 40px;
        min-height: 550px;
        align-items: center;
    }

    .hero_figure {
        order: 0;
        padding: 0;
        width: 46%;
    }

    .hero_img {
        max-width: 450px;
    }

    .hero_texts {
        width: 54%;
        text-align: start;
        gap: 2rem;
        padding-bottom: 0;
    }

    .hero_title {
        font-size: 3rem;
    }

    .hero_paragraph {
        margin-bottom: 0;
    }


    .hero_cta {
        justify-self: start;

    }

    /* about */

    .about_container {
        flex-direction: row;
        gap: 2rem;
    }

    .about_figure {
        width: 30%;
    }

    .about_img {
        width: 100%;
    }

    .about_texts {
        width: 70%;
        text-align: start;
        place-content: center;
    }

    .subtitle {
        text-align: inherit;
        font-size: 2.5rem;
    }

    /* learn */

    .learn_articles {
        text-align: center;
        gap: 2rem;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .learn_article {
        gap: 1.5rem;
    }


    /* sponsor */
    .sponsor {
        text-align: start;
    }

    .sponsor_main {
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    .sponsor_img {
        max-width: 400px;
    }

    .sponsor_text {
        width: 55%;
        place-content: center;
        margin-bottom: 0;
    }

    .sponsor_cta {
        justify-self: start;
    }

    /* statics */

    .statics_title {
        font-size: 4.5rem;
    }

    /* Footer */

    .footer {
        text-align: center;
    }




}


@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: .5;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;

    }
}

@keyframes enhance-button {
    to {
        background: var(--orange);
        backdrop-filter: blur(5px);
        font-size: 18px;
        display: flex;
        opacity: 1;
    }
}

.scale {
    z-index: 999;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.scale:hover {
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.1) scaleY(1.1);
}

.showCV {
    z-index: 1;
}